@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>ASP.NET Core 2.0 and Google Datastore (NoSQL)</h4>

<p>
    This project is only created for one purpose. 
    It is to demonstrate how to perform simple CRUD on ASP.NET Core 2.0 on Google NoSQL Datastore as its database.

</p>